@{
  Layout = "Shared/_Layout.cshtml";
}

<h1>| Stylist @Model["Stylist Object"].GetName()'s Clients |</h1>

@foreach (var client in Model["Client List"])
{
<li>@client.GetName()</li>
}


<span>| <a href="/">Home</a> |</span>
<span>| <a href="/clients">View Clients</a> |</span>
<span>| <a href="/stylists">View Stylists</a> |</span>
